html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ccd7f6;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  background-color: #0a192f;
  /* height: 100vh; */
  /* width: 100vw; */
  overflow-x: hidden;

  /* padding: 1rem 2rem; */
}

.logo {
  text-decoration: none;
  color: #ccd7f6;
}

.text-color-secondary {
  color: #64ffda;
}

.text-color-grey {
  color: #8893b0;
}

.nodejs-link {
  color: #8893b0;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  background-color: #0a192f;
  z-index: 2;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.menu {
  padding: 1rem 0;
  display: flex;
}

.menu-item {
  padding: 1rem 0;
  margin-right: 2rem;
  font-family: Courier;
  text-decoration: none;
  color: #ccd7f6;
}

.menu-item:hover {
  color: #64ffda;
}

.sidebar-menu-item {
  padding: 1rem 0;
  margin-right: 2rem;
  font-family: Courier;
  text-decoration: none;
  color: #ccd7f6;
  margin-bottom: 2rem;
}

.sidebar-menu-item:hover {
  color: #64ffda;
}

.resume {
  border: #64ffda solid 1px;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #64ffda;
}

.center-content {
  padding: 0 10rem;
  min-height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}

.about {
  padding: 0 10rem;
  min-height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}
.intro-hi {
  margin-bottom: 2rem;
  width: 100%;
}

.heading {
  font-size: clamp(40px, 8vw, 80px);
}

.build-things {
  margin-top: 10px;
  line-height: 0.9;
}

.self-intro {
  max-width: 33rem;
  margin-top: 1.5rem;
  font-weight: lighter !important;

  font-family: sans-serif;
  line-height: 1.3;
  font-size: 1.2rem;
}

.nav-toggle {
  display: none;
}

.sub-heading {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  /* justify-content: space-between; */
}

.sub-heading-heading {
  white-space: nowrap;
}

.thin-line {
  height: 1px;
  width: 40vw;
  background-color: #8893b0;
  align-self: center;
  margin-left: 1rem;
}

.about-index {
  margin-right: 0.5rem;
}

.about-content {
  display: flex;
}

.about-content-text {
  width: 60%;
  margin-top: 3rem;
  padding: 0 3rem 0 0;
  line-height: 2;
}

.common-list {
  display: grid;
  grid-template-columns: auto auto;
}

.common-list-item {
  font-family: monospace;
  font-size: 1rem;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}
.common-list-item::marker {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #64ffda;
  font-size: 1rem;
}

.sub-container {
  display: flex;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 65vh;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-item {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.social::after {
  content: "";
  display: block;
  width: 1px;
  height: 30vh;
  margin: 0px auto;
  background-color: #8893b0;
}

.menu-item-social {
  margin: 10px auto;
}

.menu-item-social svg {
  width: 20px;
}

.experience-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.experience-sidebar {
  display: flex;
  flex-direction: column;
}

.active-company-name {
  color: #64ffda;
  background-color: #112340;
  border-left: solid 2px #64ffda !important;
  /* transition-delay: 100ms; */
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: 300ms linear;

  padding: 15px;
  border: none;
  text-align: left;
  cursor: pointer;
  border-left: solid 2px #233655;
  font-family: monospace;
  font-size: 1rem;
  white-space: nowrap;
}

.company-name {
  padding: 15px;
  background-color: transparent;
  color: #8796b2;
  border: none;
  text-align: left;
  cursor: pointer;
  border-left: solid 2px #233655;
  font-family: monospace;
  font-size: 1rem;
  white-space: nowrap;
}

.company-name:hover {
  color: #64ffda;
  background-color: #112340;
  /* border-left: solid 2px #64ffda; */
  /* transition-delay: 100ms; */
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: 300ms linear;
}

.companies-link {
  text-decoration: none;
  color: #64ffda;
}

.experience-companies {
  padding-left: 15px;
}

.roles-and-responsibilities {
  padding-left: 9px;
  min-height: 17rem;
}

.roles-and-responsibilities li {
  width: 46rem;
}

.experience-company {
  display: none;
}

.active-experience {
  display: block !important;
}

.experience-company h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
}

.sidebar {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .resume {
    padding: 0.5rem 1rem;
    height: 1rem;
  }

  .center-content {
    padding: 3rem;
  }

  .roles-and-responsibilities li {
    width: 35rem;
  }
}
@media only screen and (max-width: 1250px) {
  .roles-and-responsibilities li {
    width: 35rem;
  }
}

@media only screen and (max-width: 910px) {
  .experience-content {
    flex-direction: column;
  }

  .experience-sidebar {
    /* display: none; */
    flex-direction: row;
    overflow-x: scroll;
    padding-bottom: 3px;
  }

  .active-company-name {
    border-bottom: solid 2px #64ffda !important;
    border-left: none !important;
  }

  .experience-companies {
    margin-top: 2rem;
  }

  .company-name {
    border-bottom: solid 2px #233655;
    border-left: none !important;
  }

  ::-webkit-scrollbar {
    height: 5px;
    margin-top: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8796b2;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  /* .experience-company {
    display: block;
  } */
}

@media only screen and (max-width: 768px) {
  .about-heading {
    font-size: 1rem;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-content-text {
    width: 100%;
  }

  .image {
    align-self: center;
  }

  .menu-item {
    display: none;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    /* margin-top: ; */
  }

  .nav-line {
    background-color: #64ffda;
    position: relative;
    height: 2px;
    width: 35px;
    margin: 5px 0;
    transition: margin 1s, transform 0.5s, position 1s;
  }

  .nav-line-1 {
    width: 25px !important;
    position: relative;

    transition: margin 1s, transform 0.5s, position 1s, opacity 1s !important;
    opacity: 1;
    margin: 5px 0 !important;
  }

  .nav-line-2 {
    width: 15px !important;
    position: relative;

    margin: 5px 0 !important;
    transition: margin 1s, transform 0.5s, width 0.5s, position 1s !important;
  }

  .active-nav-line {
    margin: 0 !important;
    transform: rotate(225deg) !important;
    transition: margin 1s, transform 1s, width 1s;
    transform-origin: center;
    height: 3px;
    position: absolute;
    width: 35px !important;
  }

  .active-nav-line-1 {
    margin: 0 !important;
    visibility: collapse;
    transition: margin 1s;
  }

  .active-nav-line-2 {
    margin: 0 !important;
    transform: rotate(-225deg) !important;
    transition: margin 1s, transform 1s, width 1s;
    transform-origin: center;
    height: 3px;
    position: absolute;
    width: 35px !important;
  }

  /* .nav-line::before {
    content: "";
    display: flex;
    background-color: #64ffda;
    height: 2px;
    width: 2rem;
    margin-top: 0.5rem;
  } */

  /* .nav-line::after {
    content: "";
    display: flex;
    background-color: #64ffda;
    height: 2px;
    width: 1rem;
    margin-top: 0.5rem;
  } */

  .fixed-header {
    width: 100vw;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 65vh;
  }

  .menu-item-social {
    display: block;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .social-item {
    margin-right: 25px;
  }

  .social::after {
    content: "";
    display: block;
    height: 1px;
    width: 30vw;
    margin: 0px auto;
    background-color: #8893b0;
  }

  .menu-item-social svg {
    margin-top: 20px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #0a192f;
    /* right: -260px; */
    top: 30px;
    height: 100vh;
    width: 60vw;
    padding: 2rem;
    padding-top: 5rem;
    z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(164%, 0, 0);
    transition-timing-function: ease-in-out;
    transition: transform 1s;
  }

  .sidebar-menu-item.resume {
    text-align: center;
    align-self: start;
  }

  .active-sidebar {
    /* right: 0 !important; */
    /* transition-delay: 1s; */
    transition-timing-function: ease-in-out;
    transition: transform 1s;
    transform: translate3d(46%, 0, 0) !important;
  }
}

@media only screen and (max-width: 425px) {
  .center-content {
    padding: 2rem;
    width: calc(100vw - 4rem);
  }

  .sub-heading {
    /* font-size: 2rem; */
    width: calc(100vw - 6rem);
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .sub-heading-heading {
    width: max-content;
    white-space: nowrap;
    font-size: 20px;
  }

  .container {
    /* width: 100vw; */
  }

  .fixed-header {
    width: 100vw;
  }

  .header {
    width: 85vw;
  }

  .social::after {
    width: 70vw;
  }

  .about-content-text {
    width: calc(100vw - 6rem);
    padding: 0;
  }

  .get-in-touch {
    width: calc(100vw - 6rem);
  }

  .image img {
    width: 15rem;
    height: 15rem;
  }

  .image {
    display: inherit;
    align-self: center;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .thin-line {
    /* width: 5rem; */
    flex-grow: 1;
  }

  .social {
    width: calc(100vw - 6rem);
  }

  .experience-content {
    width: 20rem;
  }

  .experience-company h3 {
    font-size: 22px;
  }

  .companies-link {
    white-space: nowrap;
  }

  .roles-and-responsibilities li {
    width: 17rem;
  }
}

@media only screen and (max-width: 375px) {
  .sub-heading {
    font-size: 15px;
  }
}
